.branding-primary {
  display: flex;
  font-size: 18px;
  color: #333 !important;
  display: flex;
  align-items: center;
}

.gh-branding-name {
  margin-left: 15px;
  align-items: center;
}

.btn-primary {
  background-color: #4682f2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-color: #4682f2;
}

.btn-primary:hover {
  background-color: #153c85;
  border-color: #153c85;
}

.btn-our-classes {
  background-color: #d23228;
  border-color: #d23228;
}

.btn-our-classes:hover {
  background-color: #921108;
  border-color: #921108;
}

@media (max-width: 991.98px) {
  .gh-branding-name {
    display: none;
  }
}
